---
import BaseLayout from '../layouts/BaseLayout.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<BaseLayout title="Home">
    <MainLayout>
        <p class="text-white">This is a test.</p>
    </MainLayout>
</BaseLayout>
