---
---

<header
    class="flex flex-row w-full h-24 items-center bg-white dark:bg-black border-b-[1px] borde-black dark:border-gray-400"
>
    <div class="flex items-center p-10 text-4xl">
        <h1 class="text-black dark:text-white mm-full font-serif font-light tracking-wide">Karácsonyi</h1>
    </div>
    <nav class="flex items-center h-full text-black dark:text-white  font-mono">
        <ul class="flex space-x-8 dark:opacity-80">
            <li class="flex gap-0.5">
                <a href="">Projects</a>
                <img
                    class="w-6 h-6 dark:invert"
                    src="https://static.thenounproject.com/png/1144832-200.png"
                    alt="expand menu icon"
                />
            </li>
            <li class="flex gap-0.5">
                <a href="">Media</a>
                <img
                    class="w-6 h-6 dark:invert"
                    src="https://static.thenounproject.com/png/1144832-200.png"
                    alt="expand menu icon"
                />
            </li>
            <li class="flex gap-0.5"><a href="">About</a></li>
        </ul>
    </nav>
    <div
        class="hidden absolute top-0 left-0 w-32 bg-black border-[2px] border-gray-400"
    >
    </div>
</header>
